.python-version
.env
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pyre/
.mypy_cache/
.dmypy.json
dmypy.sock
.idea/
.vscode/
*.swp
*.swo